<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
 <system.serviceModel>
    <client>
       <endpoint address="http://localhost:8733/Design_Time_Addresses/GamesServer/Service1/"
          binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService"
          contract="ServiceReference.IGameService" name="WSDualHttpBinding_IGameService">
          <identity>
             <dns value="localhost" />
          </identity>
       </endpoint>
    </client>
    <bindings>
       <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_IGameService" />
       </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>